## Nexus3 URL:
registry = https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/fed-npm-all/

## phantomjs-prebuilt download URL
phantomjs_cdnurl=https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/npm-3rd-party-raw-hosting/phantomjs

## node-sass binaries download location
sass_binary_site=https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/npm-3rd-party-raw-hosting/node-sass

## ChromeHeadless binaries download location
puppeteer_download_host=https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/npm-3rd-party-raw-hosting/

loglevel = warn
